

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Saldo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of listClients; let i = index">
            <td>{{i+1}}</td>
            <td>{{cliente.nombre}} {{cliente.apellido}}</td>
            <td>{{cliente.saldo | currency: 'COP': '$'}}</td>
            <td>
                <a routerLink="/editClient/{{cliente.id}}" class="btn btn-secondary">
                    <i class="far fa-edit"></i> Editar                                    
                </a>             
                 
            </td>                                
        </tr>
    </tbody>
</table>


